[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
influxdb = "*"
django-filter = "*"
better-exceptions = "*"
django-cors-headers = "*"
python-dotenv = "*"
mysqlclient = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
