[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "<2.0.0"

[packages]
django = "*"
influxdb = "*"
django-filter = "*"
better-exceptions = "*"
django-cors-headers = "*"
python-dotenv = "*"
mysqlclient = "*"
djangorestframework = "*"
huey = "*"
redis = "*"

[requires]
python_version = "3.6"
