{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content %}

            <!-- STATISTIC-->
            <section class="statistic statistic2">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--green">
                              <h2 class="number">10,368</h2>
                              <span class="desc">服务数</span>
                              <div class="icon">
                                  <i class="zmdi zmdi-account-o"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--orange">
                              <h2 class="number">388,688</h2>
                              <span class="desc">正常</span>
                              <div class="icon">
                                  <i class="zmdi zmdi-shopping-cart"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--blue">
                              <h2 class="number">1,086</h2>
                              <span class="desc">异常</span>
                              <div class="icon">
                                  <i class="zmdi zmdi-calendar-note"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--red">
                              <h2 class="number">$1,060,386</h2>
                              <span class="desc">告警</span>
                              <div class="icon">
                                  <i class="zmdi zmdi-money"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- END STATISTIC-->

          <!-- STATISTIC CHART-->
          <section class="statistic-chart">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <h3 class="title-5 m-b-35">statistics</h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-lg-4">
                          <!-- CHART-->
                          <div class="statistic-chart-1">
                              <h3 class="title-3 m-b-30">chart</h3>
                              <div class="chart-wrap">
                                  <canvas id="widgetChart5"></canvas>
                              </div>
                              <div class="statistic-chart-1-note">
                                  <span class="big">10,368</span>
                                  <span>/ 16220 items sold</span>
                              </div>
                          </div>
                          <!-- END CHART-->
                      </div>
                      <div class="col-md-6 col-lg-4">
                          <!-- TOP CAMPAIGN-->
                          <div class="top-campaign">
                              <h3 class="title-3 m-b-30">top campaigns</h3>
                              <div class="table-responsive">
                                  <table class="table table-top-campaign">
                                      <tbody>
                                          <tr>
                                              <td>1. Australia</td>
                                              <td>$70,261.65</td>
                                          </tr>
                                          <tr>
                                              <td>2. United Kingdom</td>
                                              <td>$46,399.22</td>
                                          </tr>
                                          <tr>
                                              <td>3. Turkey</td>
                                              <td>$35,364.90</td>
                                          </tr>
                                          <tr>
                                              <td>4. Germany</td>
                                              <td>$20,366.96</td>
                                          </tr>
                                          <tr>
                                              <td>5. France</td>
                                              <td>$10,366.96</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <!-- END TOP CAMPAIGN-->
                      </div>
                      <div class="col-md-6 col-lg-4">
                          <!-- CHART PERCENT-->
                          <div class="chart-percent-2">
                              <h3 class="title-3 m-b-30">chart by %</h3>
                              <div class="chart-wrap">
                                  <canvas id="percent-chart2"></canvas>
                                  <div id="chartjs-tooltip">
                                      <table></table>
                                  </div>
                              </div>
                              <div class="chart-info">
                                  <div class="chart-note">
                                      <span class="dot dot--blue"></span>
                                      <span>products</span>
                                  </div>
                                  <div class="chart-note">
                                      <span class="dot dot--red"></span>
                                      <span>Services</span>
                                  </div>
                              </div>
                          </div>
                          <!-- END CHART PERCENT-->
                      </div>
                  </div>
              </div>
          </section>
          <!-- END STATISTIC CHART-->
{% endblock %} {% block userscript %}
<script>
    "use strict";
    $(function() {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            }
        });
        var API_STATISTICS_URL = "/api/statistics/"

        function update_dashboard() {
            $.ajax({
                url: API_STATISTICS_URL,
                type: 'GET',
                async: true,
                dataType: 'json',
                success: function(data) {
                    $("#http-count").html(data.http_count);
                    $("#tcp-count").html(data.tcp_count);
                    $("#ping-count").html(data.ping_count);

                    show_frequency(data.frequency_dict);
                },
                error: function(xhr, textStatus) {
                    console.log("update_dashboard error:" + xhr.responseText)
                }
            })
        }

        function show_frequency(data) {

            var areaChartData = {
                    labels: Object.keys(data),
                    datasets: [{
                        label: 'Electronics',
                        fillColor: 'rgba(210, 214, 222, 1)',
                        strokeColor: 'rgba(210, 214, 222, 1)',
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: Object.values(data)
                    }]
                }
                //-------------
                //- BAR CHART -
                //-------------
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChart = new Chart(barChartCanvas)
            var barChartData = areaChartData
               {% verbatim %} 
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            }
            {% endverbatim %}
            barChartOptions.datasetFill = false
            barChart.Bar(barChartData, barChartOptions)
        }
        update_dashboard();
    });
</script>
{% endblock %}
