{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content %}

<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Custom Tab</h4>
            </div>
            <div class="card-body">
                <div class="custom-tab">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab"
                                href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
                                aria-selected="true">Overview</a>
                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab"
                                href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
                                aria-selected="false">How to integrate</a>
                            <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab"
                                href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact"
                                aria-selected="false">Description</a>
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel"
                            aria-labelledby="custom-nav-home-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- DATA TABLE -->
                                    <div class="au-card m-b-30">
                                        <div class="au-card-inner">
                                            <h3 class="title-2 m-b-40">Past runs</h3>
                                            <canvas id="team-chart"></canvas>
                                        </div>
                                    </div>

                                    <!-- END DATA TABLE -->
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <!-- DATA TABLE-->
                                    <div class="table-responsive m-b-40">
                                        <table class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>时间</th>
                                                    <th>Host</th>
                                                    <th>Service</th>
                                                    <th>Value</th>
                                                    <th>UA</th>
                                                </tr>
                                            </thead>
                                            <tbody id='pings'>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END DATA TABLE-->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel"
                            aria-labelledby="custom-nav-profile-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Integrate this monitor with your job by making an HTTP request every
                                                time your job runs.</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="default-tab">
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-python-tab"
                                                            data-toggle="tab" href="#nav-python" role="tab"
                                                            aria-controls="nav-home" aria-selected="true">Python</a>
                                                        <a class="nav-item nav-link" id="nav-bash-tab" data-toggle="tab"
                                                            href="#nav-bash" role="tab" aria-controls="nav-profile"
                                                            aria-selected="false">Bash</a>
                                                        <a class="nav-item nav-link" id="nav-crontab-tab"
                                                            data-toggle="tab" href="#nav-crontab" role="tab"
                                                            aria-controls="nav-contact"
                                                            aria-selected="false">Crontab</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-python"
                                                        role="tabpanel" aria-labelledby="nav-python-tab">
                                                        <code>
                                                                import requests;requests.get("{{url}}")
                                                        </code>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-bash" role="tabpanel"
                                                        aria-labelledby="nav-bash-tab">
                                                        <code>curl --retry 2 {{url}}</code>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-crontab" role="tabpanel"
                                                        aria-labelledby="nav-crontab-tab">
                                                        <code>0 0 * * * your_script.sh && curl -fsS --retry 3 {{url}} > /dev/null</code>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /# column -->

                            </div>
                        </div>
                        <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel"
                            aria-labelledby="custom-nav-contact-tab">
                            <p>{{description}}.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %} {% block userscript %}
<script>
    "use strict";
    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
                "Authorization": "Token {{token}}"
            }
        });
        var API_PING_URL = "/api/pings/?unique_id={{unique_id}}"
        
        var chart_labels = {{chart.labels | safe}}
        var chart_data = {{chart.data|safe}}

        console.log(chart_labels)
        function update_ping() {
            $.ajax({
                url: API_PING_URL,
                type: 'GET',
                async: true,
                dataType: 'json',
                success: function (data) {
                    update_ping_ui(data);
                },
                error: function (xhr, textStatus) {
                    console.log("update_ping error:" + xhr.responseText)
                }
            })
        }

        function update_ping_ui(data) {
            $("#pings").empty();
            data.forEach(function (element) {

                let tr = `
                    <tr>
                    <td>${element['time']}</td>
                    <td>${element['host']}</td>
                    <td class="process">${element['unique_id']}</td>
                    <td>${element['value']}</td>
                    <td>${element['ua']}</td>
                    </tr>
                `
                console.log(tr)
                $("#pings").append(tr)
            });


        }
        function update_chart() {
            try {

                //Team chart
                var ctx = document.getElementById("team-chart");
                if (ctx) {
                    ctx.height = 150;
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: chart_labels,
                            type: 'line',
                            defaultFontFamily: 'Poppins',
                            datasets: [{
                                data: chart_data,
                                label: "Expense",
                                backgroundColor: 'rgba(0,103,255,.15)',
                                borderColor: 'rgba(0,103,255,0.5)',
                                borderWidth: 3.5,
                                pointStyle: 'circle',
                                pointRadius: 5,
                                pointBorderColor: 'transparent',
                                pointBackgroundColor: 'rgba(0,103,255,0.5)',
                            },]
                        },
                        options: {
                            responsive: true,
                            tooltips: {
                                mode: 'index',
                                titleFontSize: 12,
                                titleFontColor: '#000',
                                bodyFontColor: '#000',
                                backgroundColor: '#fff',
                                titleFontFamily: 'Poppins',
                                bodyFontFamily: 'Poppins',
                                cornerRadius: 3,
                                intersect: false,
                            },
                            legend: {
                                display: false,
                                position: 'top',
                                labels: {
                                    usePointStyle: true,
                                    fontFamily: 'Poppins',
                                },


                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    gridLines: {
                                        display: false,
                                        drawBorder: false
                                    },
                                    scaleLabel: {
                                        display: false,
                                        labelString: 'Month'
                                    },
                                    ticks: {
                                        fontFamily: "Poppins"
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    gridLines: {
                                        display: false,
                                        drawBorder: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Value',
                                        fontFamily: "Poppins"
                                    },
                                    ticks: {
                                        fontFamily: "Poppins"
                                    }
                                }]
                            },
                            title: {
                                display: false,
                            }
                        }
                    });
                }


            } catch (error) {
                console.log(error);
            }
        }
        update_ping();
        update_chart()
    });
</script>
{% endblock %}