{% extends "base.html" %} 

{% block title %}{{ title }}{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35"></h3>
        
        <div class="table-data__tool">
       
            <div class="table-data__tool-left">
                    <input type="text" value="" data-role="tagsinput" id="tag"/>
                <button class="au-btn-filter" id='search-btn'> <i class="zmdi zmdi-filter-list" ></i>查询</button>
            </div>
            <div class="table-data__tool-right">
          
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" id='add-service-btn'>
                    <i class="zmdi zmdi-plus"></i>新增</button>

            </div>
        </div>

        <!-- END DATA TABLE -->
    </div>
</div>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>状态</th>
                        <th>名称</th>
                        <th>调度</th>
                        <th>最新记录</th>
                        <th>通知方式</th>
                        <th>标签</th>
                        <th>更多</th>
                    </tr>
                </thead>
                <tbody id='services'>

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>

<!-- modal medium -->
<div class="modal fade" id="service-modal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">schedule</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="tp">
                                <option value='every'>every</option>
                                <option value='at'>at</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">value</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="value" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">grace</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="grace" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">alert_interval_min</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="alert_interval_min" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">通知</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="email">
                            <input type="text" class="form-control" id="wechat" placeholder="wechat">
                            <input type="text" class="form-control" id="sms" placeholder="sms">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">tags</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tags" placeholder="英文逗号分隔">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-sm-2 control-label">description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control item" rows="2" placeholder="Enter ..."
                                id="description"></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <input class="col-sm-2 control-label unique-id" hidden></input>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id='add-service-save-btn'>Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->




{% endblock %} {% block userscript %}
<script>
    "use strict";
    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
                "Authorization": "Token {{token}}"
            }
        });
        var API_SERVICE_URL = "/api/services/"
        var service_cache = {

        }

 



        $("#add-service-btn").click(function () {
            $('#service-modal').modal('show');
            $("#service-modal .modal-title").html('new service');
            $("#service-modal .unique-id").val('');

            $("#tp").val('')
            $("#value").val('')
            $("#grace").val('')
            $("#alert_interval_min").val('')

            $("#email").val('')
            $("#wechat").val('')
            $("#sms").val('')
            $("#tags").val('')

            $("#name").val('')
            $("#description").val('')
        });

        $("#add-service-save-btn").click(function () {
            let service = {
                "tp": $("#tp").val(),
                "value": $("#value").val(),
                "grace": $("#grace").val(),
                "alert_interval_min": $("#alert_interval_min").val(),

                "email": $("#email").val(),
                "wechat": $("#wechat").val(),
                "sms": $("#sms").val(),
                
                "name": $("#name").val(),
                "tags": $("#tags").val(),
                "description": $("#description").val()
            }
            if (!$("#service-modal .unique-id").val()) {
                $.ajax({
                    url: API_SERVICE_URL,
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(service),
                    success: function (data) {
                        update_service();
                    },
                    error: function (xhr) {
                        console.log("add service error:" + xhr.responseText);
                    }
                });
            } else {
                $.ajax({
                    url: API_SERVICE_URL + $("#service-modal .unique-id").val() + '/',
                    type: 'put',
                    async: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(service),
                    success: function (data) {
                        update_service();
                    },
                    error: function (xhr) {
                        console.log("modify service error:" + xhr.responseText);
                    }
                });
            }


            $('#service-modal').modal('hide');
        });

        $("#search-btn").click(function () {
                update_service($("#tag").val())
        });
        function delete_service(unique_id) {
            $.ajax({
                url: API_SERVICE_URL + unique_id + "/",
                type: 'DELETE',
                async: true,
                dataType: 'json',
                success: function (data) {
                    update_service();
                },
                error: function (xhr) {
                    console.log("delete service:" + xhr.responseText)
                }
            })
        }
        function pause_service(unique_id, stop_name) {

            let params = {}
            if (stop_name === "暂停") {
                params = {
                    "status": "paused"
                }
            } else {
                params = {
                    "status": "nodata"
                }
            }
            $.ajax({
                url: API_SERVICE_URL + unique_id + "/",
                type: 'PUT',
                async: true,
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(params),
                success: function (data) {
                    update_service();
                },
                error: function (xhr) {
                    console.log("pause service:" + xhr.responseText)
                }
            })
        }
        function init_service_ope() {
            $(".del-service-btn").each(function (index) {
                $(this).on("click", function () {
                    delete_service($(this).attr('value'));
                });
            });
            $(".pause-service-btn").each(function (index) {
                $(this).on("click", function () {
                    pause_service($(this).attr('value'), $(this).text());
                });
            });

            $(".modify-service-btn").each(function (index) {
                $(this).on("click", function () {
                    var unique_id = $(this).attr('value');

                    $("#tp").val(service_cache[unique_id].tp)
                    $("#value").val(service_cache[unique_id].value)
                    $("#grace").val(service_cache[unique_id].grace)
                    $("#alert_interval_min").val(service_cache[unique_id].alert_interval_min)

                    $("#email").val(service_cache[unique_id].email)
                    $("#wechat").val(service_cache[unique_id].wechat)
                    $("#sms").val(service_cache[unique_id].sms)

                    $("#name").val(service_cache[unique_id].name)
                    
                    let tags = []
                    service_cache[unique_id].tags.forEach(function (item) {
                        tags.push(item.name)
                    });

                    $("#tags").val(tags.join(","))

                    $("#description").val(service_cache[unique_id].description)

                    $("#service-modal .unique-id").val(unique_id);

                    $("#service-modal .modal-title").html("修改" + unique_id);
                    $('#service-modal').modal('show');

                });
            });
        }
        function update_service(tags) {
            let url = API_SERVICE_URL
            if (tags) {
                url  = url + "?tags=" + tags
            }
            
            $.ajax({
                url: url,
                type: 'GET',
                async: true,
                dataType: 'json',
                success: function (data) {
                    data.forEach(function (item) {
                        service_cache[item.unique_id] = item
                    });
                    update_service_ui(data)
                    init_service_ope()
                },
                error: function (xhr, textStatus) {
                    console.log("update_service error:" + xhr.responseText)
                }
            })
        }

        function update_service_ui(data) {
            $("#services").empty();
            data.forEach(function (element) {
                let tag_str = '';
                element['tags'].forEach(function (tag) {
                    tag_str += ` ${tag['name']}`
                });
                let member = {
                    "ok": "member",
                    "alert": "admin",
                    "paused": "user",
                    "nodata": "user",
                    "error": "admin",
                }[element['status']]


                let stop_name = ""
                if (element['status'] === "paused") {
                    stop_name = "恢复"
                } else {
                    stop_name = "暂停"
                }
                let tr = `
<tr>
    <td> <span class="role ${member}">${element['status']}</span> </td>
    <td><a href='/service/${element['unique_id']}'>${element['name']}</a></td>
    <td>${element['schedule']}</td>
    <td class="process">${element['last_ping_time']}</td>
    <td>${element['notify']}</td>
    <td>${tag_str}</td>
    <td>
        <button type="button" class="btn  btn-info btn-xs modify-service-btn"
            value="${element['unique_id']}">修改</button>
        <button type="button" class="btn  btn-danger btn-xs del-service-btn" value="${element['unique_id']}">删除</button>
        <button type="button" class="btn  btn-warning btn-xs pause-service-btn"
            value="${element['unique_id']}">${stop_name}</button>
    </td>
</tr>
`
                console.log(tr)
                $("#services").append(tr)
            });


        }

        update_service();
    });
</script>
{% endblock %}
