{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35"></h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                        <option selected="selected">All Properties</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2" name="time">
                        <option selected="selected">Today</option>
                        <option value="">3 Days</option>
                        <option value="">1 Week</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>filters</button>
            </div>
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>新增</button>
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                    <select class="js-select2" name="type">
                        <option selected="selected">Export</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
        </div>

        <!-- END DATA TABLE -->
    </div>
</div>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>状态</th>
                        <th>名称</th>
                        <th>调度</th>
                        <th>最新记录</th>
                        <th>通知方式</th>
                        <th>标签</th>
                        <th>更多</th>
                    </tr>
                </thead>
                <tbody id='services'>
                  
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>






{% endblock %} {% block userscript %}
<script>
    "use strict";
    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
                "Authorization": "Token {{token}}"
            }
        });
        var API_SERVICE_URL = "/api/services/"

        function update_service() {
            $.ajax({
                url: API_SERVICE_URL,
                type: 'GET',
                async: true,
                dataType: 'json',
                success: function (data) {
                    update_services(data);
                },
                error: function (xhr, textStatus) {
                    console.log("update_service error:" + xhr.responseText)
                }
            })
        }

        function update_services(data) {
            $("#services").empty();
            data.forEach(function (element) {
                let tag_str = '';
                element['tags'].forEach(function (tag) {
                    tag_str += ` ${tag['name']}`
                });
                let tr = `
                    <tr><td>${element['status']}</td>
                            <td>${element['name']}</td>
                            <td>${element['schedule']}</td>
                            <td class="process">${element['status']}</td>
                            <td>${element['status']}</td>
                            <td>${tag_str}</td>
                            <td>${element['id']}</td>
                            </tr>
                `
                console.log(tr)
                $("#services").append(tr)
            });


        }
        update_service();
    });
</script>
{% endblock %}